.justify-center{
         justify-content: center;
}
.items-center{
         align-items: center;
}


.home ul li{
         display:flex;
         gap:15px;
         width:15px;
         list-style:none;
}
.bg-black{
         background-color: black;
         color: white;
}
.invert{
         filter:invert(1);
}
.bg-grey{
         background-color: #1f1f1f;
}
.rounded{
         border-radius: 7px;
}
.m-1{
         margin:5px;
}
.p1{
         padding: 10 px;
}